* {
    font-family:'Times New Roman', Times, serif;
}

:root {
    --button-color: purple;
    --button-color-hover: rgb(168, 123, 210);
    --white: rgb(255, 255, 255);
    --light-grey: lightgrey;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

header a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    align-items: center;
}

main h1 {
    margin-bottom: 0px;
}

main p {
    text-align: center;
}

.initials {
    text-decoration: none;
    color: var(--white);
}

.btn {
    background-color: var(--button-color);
    color: var(--white);
    border-radius: 5px;
    margin-bottom: 5px;
}

.btn a {
    color: var(--white);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--button-color-hover);
}

.button-holder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.answer-display {
    font-style: italic;
    border-top: 3px solid var(--light-grey);
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    color: var(--light-grey);
}

.highscores {
    text-align: left;
    margin-bottom: 0px;
}